body {
    display:flex;
    background-color: lemonchiffon;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    margin: 50px;
}

#container {
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 60vh;
    /* background: purple; */
}

/* .plates {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;      
} */

.towerWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.tower {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 3px solid black;
    flex-direction: column;
    height: 250px;
    width: 150px;
    margin: 0 10px;

}


img {
    display: inline-block;
    width: 30%;
}

.pancakes{
    display: flex;
    justify-content: center;

}

/* #pancake1 {
    width: 40%;
}

#pancake2 {
    width: 60%;
}

#pancake3 {
    width: 90%;
} */

