body {
    display:flex;
    background-color: lemonchiffon;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    margin: 50px;
}

#container {
    display: flex;
    justify-content: center;
    /* width: 50vw;
    height: 60vh; */
    /* background: purple; */
}

.towerWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.tower {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 3px solid black;
    flex-direction: column;
    height: 250px;
    width: 200px;
    margin: 0 10px;

}


img {
    display: block;
    width: 30%;
    border: 3px solid gray;
}

.pancakes{
    display: flex;
    justify-content: center;
    border: 3px solid blue;
    padding: 0

}


